consul = "consul.tokopedia.local:8500"

template {
  source          = "/var/www/tokopedia-lite-arco-nest-on-skipper/.env.template"
  destination     = "/var/www/tokopedia-lite-arco-nest-on-skipper/.env"
  command         = "service toko-tokopedia-lite-arco-nest-on-skipper reload"
  command_timeout = "90s"
}
